#container{
    width: 1140px;
    background-color:aqua;
    
}


#blog-post-container{
    width: 75%;
    background-color: aquamarine
}

#other-posts{
    width: 25%;
    background-color: burlywood;
}

#author-box{
    border: 1px solid gray;
}